<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Shower Presentation Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if( theme !== 'none'){ %>
    <link rel="stylesheet" href="bower_components/<%= theme %>/styles/screen.css">
    <% } %>
</head>
<body class="list">
<header class="caption">
    <h1><%= title %></h1>
    <% if( url === '') { %>
    <p>By <%= author %></p>
    <% } else { %>
    <p>By <a href="<%= url %>"><%= author %></a></p>
    <% } %>

</header>
<section class="slide cover" id="Cover">
    <div>
        <h2><%= title %></h2>

        <p>Brought to you by <a href="<%= url %>"><%= author %></a></p>
        <!--
            To apply styles to the certain slides
            set slide ID to get needed elements
            -->
        <style>
            #Cover h2 {
                margin: 30px 0 0;
                color: #FFF;
                text-align: center;
                font-size: 70px;
            }

            #Cover p {
                margin: 10px 0 0;
                text-align: center;
                color: #FFF;
                font-style: italic;
                font-size: 20px;
            }

            #Cover p a {
                color: #FFF;
            }
        </style>
    </div>
</section>

<%= placeholder %>
<!--
    The line above is used by shower generator to insert slides. Please don't remove.
-->
<p class="badge"><a href="https://github.com/shower/shower">Fork me on Github</a></p>
<% if(showProgressBar) { %>
<!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
<div class="progress">
    <div></div>
</div>
<%} %>
<script src="bower_components/shower-core/shower.min.js"></script>
<!-- Copyright © 2013 <%= author %> -->
</body>
</html>